.pet-type {
    margin-bottom: 0;
}

.pet-species {
    width: 50%
}

.pet-breed {
    width: 100%;
    margin-bottom: -20px;
}

.preview-images {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.preview-image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    height: auto;
    width: auto;
}

