.relevant-thread-card {
    display: flex;
    background-color: white;
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 8px;
}

.relevant-thread-card-img-container {
    min-width: 350px;
    min-height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.relevant-thread-card-img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
}

.relevant-thread-card-info {
    flex: 1;
    padding: 15px;
    color: black;
    text-decoration: none;
    margin: 0;
}

.relevant-threads-cards {
    display: flex;
    overflow-x: scroll;
}

a {
    text-decoration: none;
}