.relevant-thread-card {
    display: flex;
    background-color: white;
    text-decoration: none;
    border: 1px solid #ddd;  /* Add a subtle border */
    border-radius: 8px;  /* Round the corners of the border */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  /* Add a slight shadow */
    padding: 10px;  /* Add some padding inside the card */
    margin-bottom: 8px;
}

.relevant-thread-card-img-container {
    min-width: 350px;
    min-height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.relevant-thread-card-img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
}

.relevant-thread-card-info {
    flex: 1;  /* Make the info section take up the remaining space */
    padding: 15px;  /* Add some padding around the text */
    color: black;  /* Make the text black */
    text-decoration: none;
    margin: 0;
}

.relevant-threads-cards {
    display: flex;
    overflow-x: scroll;
}

a {
    text-decoration: none;
}