* {
    font-family: Helvetica, Arial, sans-serif;
}

body {
    background-color: #f0f0f0;
}

.thread-container {
    width: 80%;
    margin: auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.1);
    padding: 20px;
}

.pet-info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.pet-card-container {
    flex-basis: 33%;
    max-width: 32%;
}

.pet-card-container .ant-card-body{
    padding: 0;
}

.thread-map-container {
    flex-basis: 65%;
    position: relative;
}

@media screen and (max-width: 1024px) {
    .pet-info-container {
        flex-direction: column;
    }
    .pet-card-container {
        flex-basis: 100%;
        width: 100%;
        max-width: 100%;
    }
    .thread-map-container {
        flex-basis: 100%;
        position: relative;
    }
}
