* {
    font-family: Helvetica, Arial, sans-serif;
}

.thread-container {
    display: grid;
    grid-template-rows: auto 1fr auto; /* adjust as needed */
    gap: 20px;
    width: 80%;
    margin: auto;
    background-color: rgba(240, 240, 240, 0.6);
}


.pet-info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;;
    width: 100%;
    /* Added this line to maintain aspect ratio */
    height: 0;
    min-height: 200px;
    padding-bottom: 35%;
    position: relative;
}



