#your-profile {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
    height: 100%
}

.edit-avatar {
    display: flex;
}

.edit-profile h2, h3, h4{
    margin: 20px 0 5px 0;
}

.profile {
    display: flex;
    flex-direction: row;
}

.profile-title {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.profile-form {
    flex: 2;
}

.profile-avatar {
    flex: 1;
    margin-right: 5%;
}

.profile-input {
    display: inline-block;
    width: 250px;
    height: 30px;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    padding: 5px;
    background: #F5F5F5;
    position: relative;
    overflow: hidden;
}

@media (min-width: 0) and (max-width: 1100px) {
    .profile  {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 1100px) {
    .profile {
        display: flex;
        flex-direction: row;
    }
}

